DirectoryIndex index.html

RewriteEngine on

##### Redirect www to non-www -- BEGIN
# HTTP
RewriteCond %{HTTPS} !=on [OR]
RewriteCond %{HTTP:X-Forwarded-Proto} =http
RewriteCond %{HTTP_HOST} ^www\.jouer\.cloud$ [NC]
RewriteRule ^(.*)$ https://jouer\.cloud/$1 [R=308,L]
# HTTPS
RewriteCond %{HTTPS} =on [OR]
RewriteCond %{HTTP:X-Forwarded-Proto} !=http
RewriteCond %{HTTP_HOST} ^www\.jouer\.cloud$ [NC]
RewriteRule ^(.*)$ https://jouer\.cloud/$1 [R=308,L]
##### Redirect www to non-www -- END

RewriteRule ^(configuration\.php|CONTRIBUTING\.md|htaccess\.txt|LICENSE|LICENSE\.txt|LICENSE\.md|README\.txt|README\.md) - [F]

## Resource related policies
<IfModule mod_headers.c>
    Header always set Access-Control-Allow-Origin "*"
	Header always set Timing-Allow-Origin "*"
	Header always set Referrer-Policy "same-origin"
    Header always set Cross-Origin-Resource-Policy "same-origin"
    Header always set Cross-Origin-Embedder-Policy "require-corp"
</IfModule>
